.text-third {
    padding: 25px 0;
}

.text-third-container {
    padding-left: 30px;
    padding-right: 30px;
}

.text-third__caption {
    margin-bottom: 30px;
}

.text-third__text {
    margin-bottom: 30px;
}

.text-third__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-third__image:not(:last-child) {
    margin-bottom: 30px;
}